{% extends 'base.html' %}
{% load geojson_tags %}
{% load humanize %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/main.css' %}" >
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/fontawesome-free-6.4.0-web/css/all.min.css' %}"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
{% comment %} <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script> {% endcomment %}

<style>
    .text-center-container {
        padding-top: 15px; 
    }

    #wrapper {
        overflow-x: hidden;
        background-color: #f3f6fd;
    }

    .text-center-container {
        padding-top: 15px;
    }
    
    #resident-filter-form .form-control,
    #resident-filter-form select {
        width: 235px;
    }
    
    #resident-filter-form .age-range-input {
        width: 100px;
    }
    
    .age-range-wrapper {
        display: flex;
        gap: 1px;
    }  
    
    .age-range-input {
        flex: 1;
        max-width: 100px;
    }

    .leaflet-control-attribution svg {
    width:0
    }

    
</style>

<div class="d-flex" id="wrapper">
    
    {% include 'barangayStaff/sidebar.html' %} 
    <link rel="stylesheet" href="{% static '/css/style.css' %}" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <div class="p-2 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div class="card card-body">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="title">Transactions History</div>
                                </div>
                            </div>
                            <br>
                        <div class="row table-container">
                            <table class="table" style="overflow-x: auto;">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Requester Name</th>
                                        <th scope="col">Requested Certificate</th>
                                        <th scope="col">Request Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for transaction in transactions %}
                                        <tr>
                                            <td>{{ start_index|add:forloop.counter0|add:1 }}</td>
                                            <td>{{ transaction.requester }}</td>
                                            <td>
                                                {% if transaction.document_type == 'barangay_clearance' %}
                                                Barangay Clearance
                                                {% elif transaction.document_type == 'certificate_of_indigency' %}
                                                Certificate of Indigency
                                                {% endif %}
                                            </td>
                                            <td>{{ transaction.request_date }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                          
                        </div>
                              

                            <div class="text-center-container">
                                <div class="text-center">
                                    {% if transactions.has_previous %}
                                        <a class="btn btn-success btn-sm btn-block pagination-link" title="Previous Page" href="{% url 'barangay-staff-transactions' %}?page={{ transactions.previous_page_number }}">Previous Page</a>
                                    {% endif %}
                                        <button type="button" class="btn btn-outline-secondary btn-sm pagination-link">{{ transactions.number }}</button>
                                    {% if transactions.has_next %}
                                        <a class="btn btn-success btn-sm btn-block pagination-link" title="Next Page" href="{% url 'barangay-staff-transactions' %}?page={{ transactions.next_page_number }}">Next Page</a>
                                    {% endif %}
                                </div>
                            </div>
                            
                          </div>   
                        </div>          
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>                          
</div>    

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var loggedInUserMunicipalId = {{ user.municipal.id }};
        var map1 = L.map('map1').setView([11.635, 124.4849], 10);
        var googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
            maxZoom: 20,
            subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
        }).addTo(map1);

        var householdData = JSON.parse('{{ household_data_json|escapejs }}');

        function addHouseholdMarkersToMap() {
            for (var i = 0; i < householdData.length; i++) {
                var household = householdData[i];
                L.marker([household.latitude, household.longitude]).addTo(map1)
                    .bindPopup('Household Head: ' + household.head_name);
            }
        }

        if (loggedInUserMunicipalId != 0) {
            addHouseholdMarkersToMap();
            var municipal_geojson_{{ user.municipal.id }} = {{ user.municipal.geom|geojsonfeature|safe }};
            map1.fitBounds(L.geoJSON(municipal_geojson_{{ user.municipal.id }}).getBounds());
            L.geoJSON(municipal_geojson_{{ user.municipal.id }}).addTo(map1);
        }

        function clearFilter() {
            // Add code to clear filters if needed
        }
    });
</script>


<script>
    var municipal_geojson_{{ user.municipal.id }} = {{ user.municipal.geom|geojsonfeature|safe }};
    
    $('#addHousehold').on('shown.bs.modal', function() {
        var map2 = L.map('map2').setView([11.5865, 124.4849], 16);
        var googleSat2 = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
            maxZoom: 20,
            subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
        }).addTo(map2);
    
        var municipalLayer = L.geoJson(municipal_geojson_{{ user.municipal.id }}).addTo(map2);
        map2.fitBounds(municipalLayer.getBounds());
    
        var marker;
    
        map2.on('click', function(e){
            if(marker) {
                map2.removeLayer(marker);
            }
            marker = new L.marker(e.latlng).addTo(map2);
        
            document.getElementById('latitude').value = e.latlng.lat;
            document.getElementById('longitude').value = e.latlng.lng;
        
            // Update displayed values
            document.getElementById('latitudeDisplay').value = e.latlng.lat;
            document.getElementById('longitudeDisplay').value = e.latlng.lng;
        });
    });
</script>

<script>
    $(document).ready(function() {
        $('.edit-household-btn').on('click', function() {
            var householdId = $(this).data('household-id');
            var modal = $('#editHousehold' + householdId);
    
            // Initialize the map inside the modal
            var map2 = L.map('map2-' + householdId);
    
            var latitude = parseFloat($('#latitude-' + householdId).val());
            var longitude = parseFloat($('#longitude-' + householdId).val());

            // Define the LatLng and zoom level here
            var latLng = [latitude, longitude];
            var zoomLevel = 17;
    
            var googleSat2 = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
                maxZoom: 20,
                subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
            }).addTo(map2);
    
            var municipalLayer = L.geoJson(municipal_geojson_{{ user.municipal.id }}).addTo(map2);
    
            // Fit the map to the bounds of the barangay layer
            map2.fitBounds(municipalLayer.getBounds());
    
            // Set the view after adding layers
            map2.setView(latLng, zoomLevel);
    
    
            var marker;
    
            // Get the latitude and longitude values if they exist
            var latitude = parseFloat($('#latitude-' + householdId).val());
            var longitude = parseFloat($('#longitude-' + householdId).val());
            if (!isNaN(latitude) && !isNaN(longitude)) {
                marker = new L.marker([latitude, longitude]).addTo(map2);
            }
    
            map2.on('click', function(e){
                if(marker) {
                    map2.removeLayer(marker);
                }
                marker = new L.marker(e.latlng).addTo(map2);
    
                $('#latitude-' + householdId).val(e.latlng.lat);
                $('#longitude-' + householdId).val(e.latlng.lng);
    
                // Update displayed values
                $('#latitudeDisplay-' + householdId).val(e.latlng.lat);
                $('#longitudeDisplay-' + householdId).val(e.latlng.lng);
            });
    
            // Ensure the map renders properly after modal is shown
            $('#editHousehold' + householdId).on('shown.bs.modal', function () {
                map2.invalidateSize();
            });
        });
            
           
        
    });
</script>
    


{% endblock %}
